form * {
  display: block;
  margin-left: 1em;
}

#checkbox {
  display: inline;
  margin-right: 0px;
}

#checkbox-label {
  margin-left: 0;
  display: inline;
}

form input, form textarea {
  margin-bottom: 1em;
}

